@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-slide-up {
  animation: fadeSlideUp 0.8s ease forwards;
}

@keyframes underline-grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.border-animated {
  position: relative;
}

.border-animated::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: #3b82f6; /* azul */
  animation: underline-grow 1s ease forwards;
  width: 0;
}
